<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebird.timedtasks.dao.PointDetailDao">
   
    <select id="findPointExerciseDetail" parameterType="java.lang.Integer" resultType="com.ebird.ebird_entity.PointExerciseDetailEntity">
        SELECT * FROM pointexercisedetail t WHERE t.exerciseCycle=#{exerciseCycle}
    </select>
    
    <select id="findPointExerciseDetailAll"  resultType="com.ebird.ebird_entity.PointExerciseDetailEntity">
        SELECT * FROM pointexercisedetail t WHERE t.exerciseCycle !=0
    </select>
    
   <update id="updatePointExerciseDetail"  parameterType="java.util.List">  
        <foreach collection="entityList" item="item" index="index" open="" close="" separator=";">  
              update pointexercisedetail   
              <set>  
                skilled=${item.skilled} 
              </set>  
              where id = ${item.id}  
       </foreach>  
   </update> 
</mapper>